/**
 * @name Dracula PRO
 * @author Dracula Team
 * @version 1.0.0
 * @description Dracula Pro - Pro Variant
 * @source https://draculatheme.com/pro
*/

:root {
  --dracula-background: #383749 !important;
  --dracula-comment: #7970a9 !important;
  --dracula-current-line: #17161d !important;
  --dracula-cyan: #80ffea !important;
  --dracula-foreground: #f8f8f2 !important;
  --dracula-green: #8aff80 !important;
  --dracula-orange: #ffca80 !important;
  --dracula-pink: #ff80bf !important;
  --dracula-purple: #9580ff !important;
  --dracula-red: #ff9580 !important;
  --dracula-selection: #454158 !important;
  --dracula-yellow: #ffff80 !important;

  --dracula-background-alt: #2d2c3a !important;
  --dracula-background-lighter: #22212c !important;
  --dracula-line-highlight: #444257 !important;
  --dracula-non-text: #f8f8f2 !important;
  --dracula-tab-drop-background: #4f4d66 !important;
  --dracula-white: #f8f8f2 !important;

  --activity-card-background: var(--dracula-background) !important;
  --background-accent: var(--dracula-current-line) !important;
  --background-floating: var(--dracula-background) !important;
  --background-mobile-primary: var(--dracula-background) !important;
  --background-mobile-secondary: var(--dracula-background-lighter) !important;
  --background-modifier-selected: var(--dracula-current-line) !important;
  --background-primary: var(--dracula-background) !important;
  --background-secondary-alt: var(--dracula-background-alt) !important;
  --background-secondary: var(--dracula-background-lighter) !important;
  --background-tertiary: var(--dracula-background-alt) !important;
  --channeltextarea-background: var(--dracula-current-line) !important;
  --header-primary: var(--dracula-foreground) !important;
  --interactive-muted: var(--dracula-red) !important;
  --interactive-normal: var(--dracula-foreground) !important;
  --rs-dnd-color: var(--dracula-red) !important;
  --rs-idle-color: var(--dracula-orange) !important;
  --rs-invisible-color: var(--dracula-comment) !important;
  --rs-offline-color: var(--dracula-selection) !important;
  --rs-online-color: var(--dracula-green) !important;
  --rs-streaming-color: var(--dracula-purple) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--dracula-comment) !important;
  --scrollbar-auto-scrollbar-color-track: var(
    --dracula-background-alt
  ) !important;
  --scrollbar-auto-thumb: var(--dracula-comment) !important;
  --scrollbar-auto-track: var(--dracula-background-alt) !important;
  --scrollbar-thin-thumb: var(--dracula-comment) !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--dracula-comment) !important;
}

.container-2cd8Mz {
  background-color: var(--dracula-background) !important;
}

.autocomplete-3NRXG8 {
  background-color: var(--dracula-background) !important;
}

.autocomplete-3jLKbj {
  background-color: var(--dracula-background) !important;
}

.selected-3H3-RC {
  background-color: var(--dracula-selection) !important;
}

.container-ZMc96U.themed-Hp1KC_ {
  background-color: var(--dracula-background) !important;
}

.contentWrapper-3vHNP2,
.container-3u7RcY,
.wrapper-1NNaWG,
.wrapper-1NNaWG,
.inspector-DFKXwB,
.wrapper-22rqw6,
.listWrapper-2nHLP8,
.categoryItem-1sHzUv,
.guildIcon-2SUGiq,
.header-11eigE {
  background-color: var(--dracula-background) !important;
}

.container-1SX9VC,
.container-2oNtJn {
  background-color: var(--dracula-selection) !important;
}

.header-1w9Q93 {
  background-color: var(--dracula-background);
}

.messagesPopout-eVzQcI {
  background-color: var(--dracula-background-alt);
}

.messageGroupWrapper-1jf_7C {
  background-color: var(--dracula-background);
}

.popout-3gby1q {
  background-color: var(--dracula-background);
}

.searchBarComponent-18D6hD {
  background-color: var(--dracula-background-alt);
}

.friendSelected-3cwmD7 {
  background-color: var(--dracula-selection);
}

.anchor-1MIwyf {
  background-color: var(--dracula-background);
}

.header-145e10,
.header-1w9Q93 {
  background-color: var(--dracula-background);
}

.active-1grPyy {
  background-color: var(--dracula-background-alt);
}

.messagesPopout-eVzQcI {
  background-color: var(--dracula-background-alt);
}

.channelHeader-DFRX8q {
  background-color: var(--dracula-background-alt);
}

.container-iA3Qrz {
  background-color: var(--dracula-background-alt);
}

.messageContainer-3VTXBC {
  background-color: var(--dracula-background);
}

.scroller-145h9c {
  background-color: var(--dracula-background-alt);
}

.messages-23can0 {
  background-color: var(--dracula-background);
}

.container-1A0qQO {
  background-color: var(--dracula-background-alt);
}

code {
  color: var(--dracula-foreground) !important;
}

span.hljs-built_in {
  color: var(--dracula-purple) !important;
}

span.hljs-keyword {
  color: var(--dracula-pink) !important;
}

span.hljs-title {
  color: var(--dracula-cyan) !important;
}

span.hljs-attr {
  color: var(--dracula-foreground) !important;
}

span.hljs-string {
  color: var(--dracula-yellow) !important;
}

span.hljs-number {
  color: var(--dracula-purple) !important;
}

span.hljs-symbol {
  color: var(--dracula-orange) !important;
}

span.hljs-meta {
  color: var(--dracula-foreground) !important;
}

span.hljs-meta-keyword {
  color: var(--dracula-pink) !important;
}

span.hljs-meta-string {
  color: var(--dracula-orange) !important;
}
